name: 'Deploy to GitHub Pages'

# Runs on pushes targeting the default branch
on:
  push:
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

# Set base path for pages to repo name
env:
  BASE_URL: /${{ github.event.repository.name }}/

jobs:
  Build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout branch
      uses: actions/checkout@v3

    - name: Setup latest version of node
      uses: actions/setup-node@v3
      with:
        node-version: latest
        cache: 'yarn'

    - name: Install dependancies and build
      run: |
       yarn install
       yarn build

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v1
      with:
        # Upload entire repository
        path: './dist'


  Deploy:
    needs: Build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v1